# our sqlite db file

bookmarks.db

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Dependency directories (Go modules cache)
/vendor/
/go.mod.bak
/go.sum.bak

# Build output
/bin/
/pkg/
/build/

# IDE and Editor files
.idea/
.vscode/
.DS_Store
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Environment variables
.env
